*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html,body {
width:100%;
height:100%;
}

#preloader {
    background-color:black;
    height: 100%;
    width: 100%;
    position:absolute;
    align-items: center;
    justify-content: center;
    display: flex;
    top: 0;
    animation: screenup 1s ease-out 3s both;
}

@keyframes screenup {
    to {
        transform: translateY(-100%);
    }
}



.text p {
    display: inline-block;
    color: white;
    text-align: center;
    font-size: 42px;
    font-weight: 600;
}

/* Animations Starts here */
@keyframes anything {
    0% {
        color: black;
        transform: scale(.6);
    }
    25% {
        color: white;
        transform: scale(.8);

    }
    50% {
        color: black;
        transform: scale(1);
    }
    75% {
        color: white;
        transform: scale(1.2);
    }
    100% {
        color: black;
        transform: scale(.6);
    }

}

.text p:nth-child(1) {
    animation: anything 3s ease-in-out infinite;
}

.text p:nth-child(2) {
    animation: anything 3s ease-in-out infinite 0.25s;
}
.text p:nth-child(3) {
    animation: anything 3s ease-in-out infinite 0.5s;
}
.text p:nth-child(4) {
    animation: anything 3s ease-in-out infinite 0.75s;
}
.text p:nth-child(5) {
    animation: anything 3s ease-in-out infinite 1s;
}
.text p:nth-child(6) {
    animation: anything 3s ease-in-out infinite 1.25s;
}
.text p:nth-child(7) {
    animation: anything 3s ease-in-out infinite 1.5s;
}
.text p:nth-child(8) {
    animation: anything 3s ease-in-out infinite 1.75s;
}
.text p:nth-child(9) {
    animation: anything 3s ease-in-out infinite 2s;
}
.text p:nth-child(10) {
    animation: anything 3s ease-in-out infinite 2.25s;
}

.land
{
    background-image:url('Picture_land.jpeg');
    width:100%;
    height:100%;
    background-size: cover;
    background-repeat:no-repeat;
    background-position:center;
}
.clouds
{
    width: 100%;
    text-align:center;
    display:flex;
    align-items: center;
    justify-content: space-around;
    bottom: -3%;
    position: absolute;
}

.clouds img {
    animation: abc 5s linear infinite;  
}

@keyframes abc{
    0% {
        transform: translateY(0);
        opacity: 0;
    }    
    50% {
        opacity:1;
    }
    75% {
        opacity:1;
    }
    100% {
        transform: translateY(-100vh);
        opacity: 0;
    }
    
}

.clouds img:nth-child(1) {
    animation-delay: 1.30s; 
}

.clouds img:nth-child(2) {
    animation-delay: 1s;
}

.clouds img:nth-child(3) {
    animation-delay: 2.5s;
}

.clouds img:nth-child(4) {
    animation-delay: .75s;
}

ul {
    list-style-type: none;
}

ul li{
margin: 20px 20px 20px 0;
font-size: 20px;
}

 hr
{
    width:100%;
}
ul li:first-child
{
margin-left:10px;
}
.TravelCuisine {
    width:100%;
    height:100%;
    justify-content: center;
    display:flex;
    align-items: center;
    color:white;
}
.WelcomePage{
    text-align:center;
}
.WelcomePage h1 
{
    font-size:42px;
}
.WelcomePage p {
   font-size:20px;
}
.nav{
    color:white;
}
button{
margin-top:25px;
padding: 15px 30px;
background:transparent;
border-radius:5px;
border:2px solid white;
color:white;
font-size:18px;
}

.GalleryPhotos{
    background-color:rgb(36 36 36)
}
.GalleryText{
    color:white;
    text-align:center;
    padding-top:100px;

}
.GalleryPictures{
    text-align:center;
    margin-top:100px;
}
.GalleryPictures img{
    filter:grayscale(100%);
    margin-left:10px;
}
.GalleryPictures img:hover{
    filter:grayscale(0%);
    transform:scale(.9);
}

.GalleryPictures2{
    text-align:center;
    margin-top:10px;
}
.GalleryPictures2 img{
    filter:grayscale(100%);
    margin-left:10px;
}
.GalleryPictures2 img:hover{
    filter:grayscale(0%);
    transform:scale(.9);
}
.Socialmedia{
    text-align:center;
    font-size:32px;
    margin-top:50px;
}
.Socialmedia i{
    margin-left:30px;
    color:white;
    margin-bottom:30px;
}